site_name: Self-Hosted Show Wiki
site_url: https://wiki.selfhosted.show
repo_url: https://github.com/selfhostedshow/wiki
theme:
  name: 'material'
  palette:
    primary: 'amber'
    accent: 'orange'
    text: 'Ubuntu'
    code: 'Ubuntu Mono'
extra:
  social:
    - icon: 'fontawesome/brands/github'
      link: 'https://github.com/selfhostedshow'
    - icon: 'fontawesome/brands/twitter'
      link: 'https://twitter.com/selfhostedshow'
    - icon: 'fontawesome/solid/fire'
      link: 'https://selfhosted.show/'
    - icon: 'fontawesome/solid/microphone'
      link: 'https://pocketcasts.com'
    - icon: 'fontawesome/solid/graduation-cap'
      link: 'https://linuxacademy.com'
    - icon: 'fontawesome/brands/linux'
      link: 'https://jupiterbroadcasting.com'
    - icon: 'fontawesome/brands/discord'
      link: 'https://discord.gg/n49fgkp'

markdown_extensions:
  - admonition
  - codehilite:
      guess_lang: false
  - toc:
      permalink: true
  - footnotes
  - mdx_include:
      base_path: docs

plugins:
  - search
  - minify:
      minify_html: true
