{% extends "base.html" %}

{%- block content %}
{{ super() }}

<p>Publish Date: {{ page.meta.published.strftime("%b %d, %Y") }}</p>

{% if page.meta.summary %}
{{ page.meta.summary }}
</p>
{% endif %}
{% if page.meta.guests %}
Guests:</br>
  <ul>
  {% for guest in page.meta.guests %}
    <li>{{ guest.name }}</li>
    {% if guest.about %}
      <p style="text-indent: 40px"> {{ guest.about}} </p>
      </br>
      {% if guest.link %}
        <p style="text-indent: 40px">Link:
            <a href="{{ guest.link }}" target="_blank">{{ guest.link }}</a>
        </p>
      {% endif %}
    {% endif %}
  {% endfor %}
  </ul>
{% endif %}

Get the show  <a href="https://selfhosted.show/{{page.meta.number}}" target="_blank">here</a></p>
{% if page.meta.chapters %}
  Chapters:</br>
  <ol>
  {% for chapter in page.meta.chapters %}
    <li><a href="https://selfhosted.show/{{ page.meta.number }}?t={{chapter.time}}" target="_blank">{{ chapter.title }}</a></li>
  {% endfor %}
  </ol>
{% endif %}
{%- endblock%}
